
body{
    margin:0;
    padding:0;
    height:100 hv;
    background-color: #000033;
    font-family: cursive;

}

.btn_customize{
    padding: 10px;
    margin: 5px;

}

#particles-js{
    height:100%;
    background-color: #000;
    background-image: url('img/matt-palmer-254999.jpg');
    background-repeat: no-repeat;
    background-position: center;


}
.about_me{
    float: right;
}
.about_me h2{
    color: #f0f0f0;
}
.menu{
    list-style: none;
    padding-left: 70px;

}
.heading_about h2{
    padding-left: 30px;

}
.heading h3{
    border: 2px solid red;
    padding-top: 5px;
    padding-bottom: 5px;
}
.home_btn{
    padding: 10px;
    margin: 10px;
}

.home_menu{
    list-style: none;
    padding: 10px;
}
.my_image{
    padding-top: 20px;
    padding-left: 75px;
}
.icon{
    float: right;
    margin: 10px;
    padding-top: 18px;
}
.about_text p{
    padding-left: 10px;
    letter-spacing: 2px;
    font-family: monospace; 
    font-size: 15px;
}
.about_text{
    color: #cccccc;
}
.about_content{
    background: #000033; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #000033, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #000033, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right,#000033, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #000033, black); /* Standard syntax */



}
.project_content{
    color: #f0f0f0;
    padding-top: 70px;
}
.heading_about{
    color: #f0f0f0;
    padding-top: 40px;
}
.img_height{
    height: 175px;
    width: 150px;
}

.sub_heading{
    padding-bottom: 20px;
}
.heading{
    padding-bottom: 150px;
}
.projects{

    padding: 30px;
    background: #000033; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #000033, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #000033, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right,#000033, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #000033, black); /* Standard syntax */
}
.skill_list{
    float: left;
    
    list-style: none;
    padding: 30px;
}
.contact_content{
    color: #cccccc;

    padding-bottom: 70px;
}
.skill_section{
    color: #cccccc;
    padding-top: 70px;

}
.skill_content{
    padding: 30px;
    background: #000033; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #000033, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #000033, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right,#000033, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #000033, black); /* Standard syntax */
}
.contact_padding{
    padding: 30px;
    background: #000033; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #000033, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #000033, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right,#000033, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #000033, black); /* Standard syntax */

}
.contact_content{
    padding-top: 50px;
}
.footer_list{
    list-style: none;
}
.footer_list li a{
    text-decoration: none;
    color: #cccccc;
}
#footer{
    padding: 30px;
    background: #000033; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #000033, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #000033, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right,#000033, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #000033, black); /* Standard syntax */
    color: #cccccc;
}
.footer_bottom{
    background-color:  #000033;
    padding: 5px;
    color: #cccccc;
}